.paper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px;
  background-color: #1a1146 !important;
}

.form {
  width: 100%;
  margin: 8px;
}

.submit {
  margin-top: 160px
}
